@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html, body{
  overflow-x:hidden;
  overflow-y:hidden;
}

#Vector_46{
  visibility: hidden;
}
body{
  position:relative;
background-color:rgb(48, 46, 46);
background-image: "" ;
background-size:cover;
background-position: center;
background-repeat: no-repeat;

}
.app{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.card{

  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height:100vh;
  width:100wh;

}


.card button {
  height:30px;
  width:30px;
  visibility: hidden;
  position: absolute;
  top:30%;
}
h1{
  position: absolute;
  top:0%;
color:"";
font-size:70px;
font-family: '';
}
h2{
  position: absolute;
  top:15%;
  color:white;
  font-size:50px;
  visibility: hidden;
}
h3{
  position: absolute;
  top:15%;
  color:white;
  margin-top:20px;
  margin-bottom: 20px;
  font-size:30px;
  font-family: '';
  visibility: visible;
}
#star1,#start3{
  position: absolute;
  animation:move-eye-skew 1s ease infinite;;
  top:5%;
  visibility: hidden;
}
#star2,#smalstar2,#smalstar4{
  animation:move-eye-skew 0.5s ease infinite;
  visibility:hidden;
}
#smalstar1,#smalstar3{
  animation:move-eye-skew 0.8s ease infinite;
  visibility:hidden;
}


#ball-container{
  height:500px;
  margin-top:70px;
  pointer-events: '';
  
}
@media screen and (max-width:700px){
  
  #ball-container{
    padding:50px;
   
  }

  h1{
    margin:20px;
    font-size:30px;
  
  }
  
  h3{
  font-size:20px;
  }
}
.hide{
  visibility: hidden;
}


image {
  opacity:1;
  background-size:100px;
  border-radius: 50%;
}
#mainball {
  transform-origin: center;
  transform-box:fill-box;
  animation: move-eye-skew 1s infinite;
  visibility:visible;
  
}
#mainball:hover{
  animation: '';
}
#imageball {
 visibility: hidden;
  background-size: cover;
 /* background-repeat: no-repeat;*/
  
}
#innerball, #outerball{
  visibility: hidden;
  
}
#innerball{
  fill:rgb(167, 206, 228); ;
}
@keyframes rotate{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
@keyframes move-eye-skew {
  0% {
   
   
   transform: scale(1);
  }
  
   100% {
    
    
    transform: scale(1.001);
  }
}

